In [5]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

Cpu_DF = pd.read_csv("C:/Users/Varun/Desktop/MP/Datasets/CPU_Dataset.csv", index_col=0)
Cpu_DF.head()

,CPU_Name,Price,BenchMarl,cpuValue,TDP,powerPerf
1,AMD EPYC 7763,544360.2543,88338,12.10,280.0,315.49
3,AMD EPYC 7713,526464.2000,85861,12.16,225.0,381.60
4,AMD Ryzen Threadripper PRO 3995WX,507671.0686,83971,12.33,280.0,299.90
5,AMD Ryzen Threadripper 3990X,626364.8833,81568,9.71,280.0,291.31
8,AMD EPYC 7643,404541.5043,76455,14.09,225.0,339.80

In [6]:
Cpu_DF.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1938 entries, 1 to 3747
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CPU_Name   1938 non-null   object
 1   Price      1938 non-null   float64
 2   BenchMarl  1938 non-null   int64
 3   cpuValue   1938 non-null   float64
 4   TDP        1938 non-null   float64
 5   powerPerf  1938 non-null   float64
dtypes: float64(4), int64(1), object(1)
memory usage: 106.0+ KB

In [7]:
Cpu_DF['Benchmark'] = Cpu_DF['BenchMarl']

In [8]:
Cpu_DF.drop(columns=['BenchMarl'], inplace=True)
Cpu_DF.head()

,CPU_Name,Price,cpuValue,TDP,powerPerf,Benchmark
1,AMD EPYC 7763,544360.2543,12.10,280.0,315.49,88338
3,AMD EPYC 7713,526464.2000,12.16,225.0,381.60,85861
4,AMD Ryzen Threadripper PRO 3995WX,507671.0686,12.33,280.0,299.90,83971
5,AMD Ryzen Threadripper 3990X,626364.8833,9.71,280.0,291.31,81568
8,AMD EPYC 7643,404541.5043,14.09,225.0,339.80,76455

In [9]:
Cpu_DF["CPU_Name"] = Cpu_DF["CPU_Name"].str.title()
Cpu_DF["CPU_Name"]
Cpu_DF.describe()

               Price     cpuValue          TDP    powerPerf     Benchmark
count    1938.000000  1938.000000  1938.000000  1938.000000   1938.000000
mean    33192.912764    35.653390    76.231115   111.820666   8129.245614
std     68063.733155    35.901197    46.758629   120.673184  10857.937369
min       297.534300     0.220000     4.000000     2.750000    159.000000
25%      4946.228100    12.735000    44.000000    26.970000   1652.000000
50%     12005.770000    25.825000    65.000000    69.295000   3937.000000
75%     29455.150000    46.297500    95.000000   153.915000   9905.250000
max    669489.460000   345.330000   280.000000   999.970000  88338.000000

In [10]:
Cpu_DF['Brand'] = np.where(Cpu_DF['CPU_Name'].str.contains('Intel', case=False), 'Intel',
                           np.where(Cpu_DF['CPU_Name'].str.contains('AMD', case=False), 'AMD', 'Other'))
# Display the updated DataFrame
print(Cpu_DF[['CPU_Name', 'Brand']].head())

                            CPU_Name Brand
1                      Amd Epyc 7763   AMD
3                      Amd Epyc 7713   AMD
4  Amd Ryzen Threadripper Pro 3995Wx   AMD
5       Amd Ryzen Threadripper 3990X   AMD
8                      Amd Epyc 7643   AMD

In [11]:
min_value = Cpu_DF['powerPerf'].min()
max_value = Cpu_DF['powerPerf'].max()
basic_threshold = min_value + (max_value - min_value) / 3
mid_threshold = min_value + 2 * (max_value - min_value) / 3
print(min_value)
print(max_value)
print(basic_threshold)
print(mid_threshold)

2.75
999.97
335.1566666666667
667.5633333333334

In [12]:
def categorize_performance(power):
    if power < 336:
        return 'Basic'
    elif power < 668:
        return 'Mid'
    else:
        return 'High'

# Apply the categorization
Cpu_DF['Power_Category'] = Cpu_DF['powerPerf'].apply(categorize_performance)

Cpu_DF

,CPU_Name,Price,cpuValue,TDP,powerPerf,Benchmark,Brand,Power_Category
1,Amd Epyc 7763,544360.2543,12.10,280.0,315.49,88338,AMD,Basic
3,Amd Epyc 7713,526464.2000,12.16,225.0,381.60,85861,AMD,Mid
4,Amd Ryzen Threadripper Pro 3995Wx,507671.0686,12.33,280.0,299.90,83971,AMD,Basic
5,Amd Ryzen Threadripper 3990X,626364.8833,9.71,280.0,291.31,81568,AMD,Basic
8,Amd Epyc 7643,404541.5043,14.09,225.0,339.80,76455,AMD,Mid
...,...,...,...,...,...,...,...,...
3696,Amd Athlon Xp 1800+,3799.3415,3.83,66.0,2.96,195,AMD,Basic
3697,Amd Athlon Xp 2000+,4398.8843,3.31,70.0,2.79,195,AMD,Basic
3725,Intel Atom D410 @ 1.66Ghz,47425.7743,0.28,10.0,17.70,177,Intel,Basic
3727,Amd Athlon Xp 1700+,3821.7125,3.44,64.0,2.75,176,AMD,Basic
3747,Intel Atom E3815 @ 1.46Ghz,10066.9500,1.17,5.0,31.70,159,Intel,Basic

In [13]:
Disk_DF = pd.read_csv('C:/Users/Varun/Desktop/MP/Datasets/Disk_Dataset.csv')
Disk_DF.head()

,driveName,Type,Capacity (in GBs),Benchmark Rank,Price,Release_Date
0,Intel SSD DC S3500 600GB,SSD,559,2048,"INR 9,064.00",2013
1,SSD 720GB,SSD,671,4759,"INR 8,799.20",2020
2,Samsung SSD 840 EVO 750GB,SSD,699,2045,"INR 43,999.20",2013
3,Crucial CT750MX300SSD1,SSD,699,2404,"INR 21,996.00",2016
4,Intel DC P3700 800GB NVMe,SSD,745,921,"INR 59,200.00",2015

In [14]:
Disk_DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 359 entries, 0 to 358
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   driveName           359 non-null    object
 1   Type                359 non-null    object
 2   Capacity  (in GBs)  359 non-null    int64
 3   Benchmark Rank      359 non-null    int64
 4   Price               359 non-null    object
 5   Release_Date        359 non-null    int64
dtypes: int64(3), object(3)
memory usage: 17.0+ KB

In [15]:
Disk_DF['Price'] = Disk_DF['Price'].replace({'INR ': '', ',': ''}, regex=True).astype(float)

In [16]:
def categorize_disk(row):
    if row['Type'] == 'SSD':
        if row['Benchmark Rank'] < 1000:
            return 'High Performance SSD'
        elif 1000 <= row['Benchmark Rank'] <= 3000:
            return 'Mid Performance SSD'
        else:
            return 'Basic SSD'
    elif row['Type'] == 'HDD':
        if row['Benchmark Rank'] < 3000:
            return 'High Performance HDD'
        elif 3000 <= row['Benchmark Rank'] <= 6000:
            return 'Mid Performance HDD'
        else:
            return 'Basic HDD'

# Apply the categorization function to the dataset
Disk_DF['Category'] = Disk_DF.apply(categorize_disk, axis=1)

Disk_DF

,driveName,Type,Capacity (in GBs),Benchmark Rank,Price,Release_Date,Category
0,Intel SSD DC S3500 600GB,SSD,559,2048,9064.0,2013,Mid Performance SSD
1,SSD 720GB,SSD,671,4759,8799.2,2020,Basic SSD
2,Samsung SSD 840 EVO 750GB,SSD,699,2045,43999.2,2013,Mid Performance SSD
3,Crucial CT750MX300SSD1,SSD,699,2404,21996.0,2016,Mid Performance SSD
4,Intel DC P3700 800GB NVMe,SSD,745,921,59200.0,2015,High Performance SSD
...,...,...,...,...,...,...,...
354,Seagate ST1000LM024,HDD,932,6968,2959.2,2012,Basic HDD
355,TOSHIBA MQ02ABF100,HDD,932,6972,11400.0,2014,Basic HDD
356,HP GB1000EAFJL,HDD,932,6976,11040.0,2012,Basic HDD
357,WDC WD10J31X,HDD,932,6987,16360.0,2015,Basic HDD
358,Seagate ST31000340NS,HDD,932,6995,3431.2,2009,Basic HDD

In [17]:
def slab(size):
    if size <= 256:
        return '256 GB'
    elif size <= 512:
        return '512 GB'
    elif size <= 780:
        return '780 GB'
    elif size <= 1024:  # 1 TB
        return '1 TB'
    elif size <= 2048:  # 2 TB
        return '2 TB'
    else:
        return 'Higher than 2 TB'

In [18]:
Disk_DF['Size_Category'] = Disk_DF['Capacity  (in GBs)'].apply(slab)
Disk_DF

,driveName,Type,Capacity (in GBs),Benchmark Rank,Price,Release_Date,Category,Size_Category
0,Intel SSD DC S3500 600GB,SSD,559,2048,9064.0,2013,Mid Performance SSD,780 GB
1,SSD 720GB,SSD,671,4759,8799.2,2020,Basic SSD,780 GB
2,Samsung SSD 840 EVO 750GB,SSD,699,2045,43999.2,2013,Mid Performance SSD,780 GB
3,Crucial CT750MX300SSD1,SSD,699,2404,21996.0,2016,Mid Performance SSD,780 GB
4,Intel DC P3700 800GB NVMe,SSD,745,921,59200.0,2015,High Performance SSD,780 GB
...,...,...,...,...,...,...,...,...
354,Seagate ST1000LM024,HDD,932,6968,2959.2,2012,Basic HDD,1 TB
355,TOSHIBA MQ02ABF100,HDD,932,6972,11400.0,2014,Basic HDD,1 TB
356,HP GB1000EAFJL,HDD,932,6976,11040.0,2012,Basic HDD,1 TB
357,WDC WD10J31X,HDD,932,6987,16360.0,2015,Basic HDD,1 TB
358,Seagate ST31000340NS,HDD,932,6995,3431.2,2009,Basic HDD,1 TB

In [19]:
Gpu_DF = pd.read_csv('C:/Users/Varun/Desktop/MP/Datasets/GPU_Dataset.csv')
Gpu_DF.head()

,Unnamed: 0,GPU_Name,brand,model,memory,memory_interface,clock_speed,Price
0,0,MSI Gaming GeForce RTX 3090 24GB GDRR6X 384-Bi...,MSI,RTX 3090 GAMING X TRIO 24G,24 GB,GDRR6X,1785 MHz,103199.2
1,1,"EVGA GeForce RTX 3090 FTW3 Ultra Gaming, 24GB ...",EVGA,RTX 3090 FTW3 Ultra,24 GB,GDDR6X,1800 MHz,95999.2
2,2,ASUS ROG Strix NVIDIA GeForce RTX 3090 White O...,ASUS,ROG Strix RTX 3090 OC Edition,24 GB,GDDR6X,1890 MHz,143599.2
3,3,MSI Gaming GeForce RTX 3090 24GB GDRR6X 384-Bi...,MSI,RTX 3090 SUPRIM X 24G,24 GB,GDDR6X,1875 MHz,161376.8
4,4,GIGABYTE AORUS GeForce RTX 3090 Xtreme 24G Gra...,Gigabyte,AORUS RTX 3090 Xtreme 24G,24 GB,GDDR6X,1860 MHz,271999.2

In [20]:
Gpu_DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 269 entries, 0 to 268
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        269 non-null    int64
 1   GPU_Name          269 non-null    object
 2   brand             269 non-null    object
 3   model             269 non-null    object
 4   memory            269 non-null    object
 5   memory_interface  269 non-null    object
 6   clock_speed       269 non-null    object
 7   Price             269 non-null    float64
dtypes: float64(1), int64(1), object(6)
memory usage: 16.9+ KB

In [21]:
Gpu_DF.drop(columns=['Unnamed: 0'], inplace=True)
Gpu_DF.head()

,GPU_Name,brand,model,memory,memory_interface,clock_speed,Price
0,MSI Gaming GeForce RTX 3090 24GB GDRR6X 384-Bi...,MSI,RTX 3090 GAMING X TRIO 24G,24 GB,GDRR6X,1785 MHz,103199.2
1,"EVGA GeForce RTX 3090 FTW3 Ultra Gaming, 24GB ...",EVGA,RTX 3090 FTW3 Ultra,24 GB,GDDR6X,1800 MHz,95999.2
2,ASUS ROG Strix NVIDIA GeForce RTX 3090 White O...,ASUS,ROG Strix RTX 3090 OC Edition,24 GB,GDDR6X,1890 MHz,143599.2
3,MSI Gaming GeForce RTX 3090 24GB GDRR6X 384-Bi...,MSI,RTX 3090 SUPRIM X 24G,24 GB,GDDR6X,1875 MHz,161376.8
4,GIGABYTE AORUS GeForce RTX 3090 Xtreme 24G Gra...,Gigabyte,AORUS RTX 3090 Xtreme 24G,24 GB,GDDR6X,1860 MHz,271999.2

In [22]:
Gpu_DF['VRAM'] = Gpu_DF['memory'].str.extract(r'(\d+)').astype(float)

In [23]:
Gpu_DF['Clock_Speed'] = Gpu_DF['clock_speed'].str.extract(r'(\d+)').astype(float)

In [24]:
def categorize_gpu(row):
    if row['VRAM'] >= 12 and row['Clock_Speed'] > 1600 and row['Price'] > 75000:
        return 'High-Performance'
    elif 6 <= row['VRAM'] < 12 and 1300 <= row['Clock_Speed'] <= 1600 and 30000 <= row['Price'] <= 75000:
        return 'Mid-Range'
    else:
        return 'Basic-Level'

# Apply the categorization function to each row
Gpu_DF['Category'] = Gpu_DF.apply(categorize_gpu, axis=1)

# Display categorized GPUs
print(Gpu_DF[['GPU_Name', 'VRAM', 'Clock_Speed', 'Price', 'Category']])

                                              GPU_Name  VRAM  Clock_Speed  \
0    MSI Gaming GeForce RTX 3090 24GB GDRR6X 384-Bi...  24.0       1785.0
1    EVGA GeForce RTX 3090 FTW3 Ultra Gaming, 24GB ...  24.0       1800.0
2    ASUS ROG Strix NVIDIA GeForce RTX 3090 White O...  24.0       1890.0
3    MSI Gaming GeForce RTX 3090 24GB GDRR6X 384-Bi...  24.0       1875.0
4    GIGABYTE AORUS GeForce RTX 3090 Xtreme 24G Gra...  24.0       1860.0
..                                                 ...   ...          ...
264  HIS ATI Radeon HD5450 Silence 1 GB DDR3 VGA/ D...   1.0       1000.0
265  PowerColor ATI Radeon HD5450 512 MB DDR3 VGA/D...   0.0       1000.0
266  VisionTek Radeon 5450 2GB DDR3 (DVI-I, HDMI, V...   2.0       1000.0
267  Diamond Multimedia AMD Radeon HD 5450 PCI Expr...   1.0       1000.0
268  GIGABYTE GeForce GTX 1650 Windforce OC 4G Grap...   4.0       1785.0

        Price          Category
0    103199.2  High-Performance
1     95999.2  High-Performance
2    143599.2  High-Performance
3    161376.8  High-Performance
4    271999.2  High-Performance
..        ...               ...
264    7999.2       Basic-Level
265    5196.0       Basic-Level
266    5199.2       Basic-Level
267    4399.2       Basic-Level
268   31920.0       Basic-Level

[269 rows x 5 columns]

In [25]:
Gpu_DF

,GPU_Name,brand,model,memory,memory_interface,clock_speed,Price,VRAM,Clock_Speed,Category
0,MSI Gaming GeForce RTX 3090 24GB GDRR6X 384-Bi...,MSI,RTX 3090 GAMING X TRIO 24G,24 GB,GDRR6X,1785 MHz,103199.2,24.0,1785.0,High-Performance
1,"EVGA GeForce RTX 3090 FTW3 Ultra Gaming, 24GB ...",EVGA,RTX 3090 FTW3 Ultra,24 GB,GDDR6X,1800 MHz,95999.2,24.0,1800.0,High-Performance
2,ASUS ROG Strix NVIDIA GeForce RTX 3090 White O...,ASUS,ROG Strix RTX 3090 OC Edition,24 GB,GDDR6X,1890 MHz,143599.2,24.0,1890.0,High-Performance
3,MSI Gaming GeForce RTX 3090 24GB GDRR6X 384-Bi...,MSI,RTX 3090 SUPRIM X 24G,24 GB,GDDR6X,1875 MHz,161376.8,24.0,1875.0,High-Performance
4,GIGABYTE AORUS GeForce RTX 3090 Xtreme 24G Gra...,Gigabyte,AORUS RTX 3090 Xtreme 24G,24 GB,GDDR6X,1860 MHz,271999.2,24.0,1860.0,High-Performance
...,...,...,...,...,...,...,...,...,...,...
264,HIS ATI Radeon HD5450 Silence 1 GB DDR3 VGA/ D...,HIS,HD5450,1 GB,DDR3,1000 MHz,7999.2,1.0,1000.0,Basic-Level
265,PowerColor ATI Radeon HD5450 512 MB DDR3 VGA/D...,PowerColor,ATI Radeon HD5450,0.5 GB,DDR3,1000 MHz,5196.0,0.0,1000.0,Basic-Level
266,"VisionTek Radeon 5450 2GB DDR3 (DVI-I, HDMI, V...",VisionTek,Radeon 5450,2 GB,DDR3,1000 MHz,5199.2,2.0,1000.0,Basic-Level
267,Diamond Multimedia AMD Radeon HD 5450 PCI Expr...,DiamondMultimedia,5450PE31G,1 GB,DDR3,1000 MHz,4399.2,1.0,1000.0,Basic-Level
268,GIGABYTE GeForce GTX 1650 Windforce OC 4G Grap...,Gigabyte,GeForce GTX 1650 Windforce OC,4 GB,GDDR5,1785 MHz,31920.0,4.0,1785.0,Basic-Level

In [26]:
Ram_DF = pd.read_csv('C:/Users/Varun/Desktop/MP/Datasets/Ram_Dataset.csv')
Ram_DF.head()

,RAM_Name,Version,Size_GB,Speed,USD,Price,Rating
0,Crucial RAM 8GB DDR4 3200MHz CL22 (or 2933MHz ...,DDR4,8GB,3200,16.99,1359.2,4.8
1,DDR4 RAM 3200MHz 8GB CL18 (PC4-25600) 1.35V DD...,DDR4,8GB,3200,25.99,2079.2,4.6
2,KLEVV Hynix Chips 8GB (1 x 8GB) DDR4 UDIMM PC4...,DDR4,8GB,3200,15.99,1279.2,4.7
3,Patriot Memory Viper Steel DDR4 8GB (1 x 8GB) ...,DDR4,8GB,3200,18.99,1519.2,4.6
4,Patriot Memory Viper Steel DDR4 8GB(2 x 4GB) 3...,DDR4,8GB,3200,23.99,1919.2,4.5

In [27]:
Ram_DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   RAM_Name  200 non-null    object
 1   Version   200 non-null    object
 2   Size_GB   200 non-null    object
 3   Speed     200 non-null    object
 4   USD       200 non-null    float64
 5   Price     200 non-null    float64
 6   Rating    199 non-null    float64
dtypes: float64(3), object(4)
memory usage: 11.1+ KB

In [28]:
Ram_DF['Size'] = Ram_DF['Size_GB'].str.extract(r'(\d+)').astype(float)

In [29]:
Ram_DF['Speed'] = Ram_DF['Speed'].str.replace(r'[^\d]', '', regex=True).astype(int)

In [30]:
def categorize_ram(row):
    size = row['Size']
    speed = row['Speed']

    # Categorize by size
    if size <= 8:
        size_category = "Basic"
    elif size <= 16:
        size_category = "Mid"
    else:
        size_category = "High"

    # Categorize by speed
    if speed < 2400:
        speed_category = "Basic"
    elif 2400 <= speed <= 3200:
        speed_category = "Mid"
    else:
        speed_category = "High"

    # Combine both categories
    if size_category == "High" or speed_category == "High":
        return "High"
    elif size_category == "Mid" or speed_category == "Mid":
        return "Mid"
    else:
        return "Basic"

# Apply the categorization function to each row
Ram_DF['Category'] = Ram_DF.apply(categorize_ram, axis=1)

# Save the processed dataset
Ram_DF.to_csv("Processed_RAM_Dataset.csv", index=False)

# Display a sample of the processed dataset
Ram_DF.head()

,RAM_Name,Version,Size_GB,Speed,USD,Price,Rating,Size,Category
0,Crucial RAM 8GB DDR4 3200MHz CL22 (or 2933MHz ...,DDR4,8GB,3200,16.99,1359.2,4.8,8.0,Mid
1,DDR4 RAM 3200MHz 8GB CL18 (PC4-25600) 1.35V DD...,DDR4,8GB,3200,25.99,2079.2,4.6,8.0,Mid
2,KLEVV Hynix Chips 8GB (1 x 8GB) DDR4 UDIMM PC4...,DDR4,8GB,3200,15.99,1279.2,4.7,8.0,Mid
3,Patriot Memory Viper Steel DDR4 8GB (1 x 8GB) ...,DDR4,8GB,3200,18.99,1519.2,4.6,8.0,Mid
4,Patriot Memory Viper Steel DDR4 8GB(2 x 4GB) 3...,DDR4,8GB,3200,23.99,1919.2,4.5,8.0,Mid

In [31]:
Ram_DF.to_csv('C:/Users/Varun/Desktop/MP/Processed Dataset/RAM.csv')
Gpu_DF.to_csv('C:/Users/Varun/Desktop/MP/Processed Dataset/GPU.csv')
Disk_DF.to_csv('C:/Users/Varun/Desktop/MP/Processed Dataset/DISK.csv')
Cpu_DF.to_csv('C:/Users/Varun/Desktop/MP/Processed Dataset/CPU.csv')

In [32]:
Cpu_DF.head()

,CPU_Name,Price,cpuValue,TDP,powerPerf,Benchmark,Brand,Power_Category
1,Amd Epyc 7763,544360.2543,12.10,280.0,315.49,88338,AMD,Basic
3,Amd Epyc 7713,526464.2000,12.16,225.0,381.60,85861,AMD,Mid
4,Amd Ryzen Threadripper Pro 3995Wx,507671.0686,12.33,280.0,299.90,83971,AMD,Basic
5,Amd Ryzen Threadripper 3990X,626364.8833,9.71,280.0,291.31,81568,AMD,Basic
8,Amd Epyc 7643,404541.5043,14.09,225.0,339.80,76455,AMD,Mid

In [33]:
Ram_DF.head()

,RAM_Name,Version,Size_GB,Speed,USD,Price,Rating,Size,Category
0,Crucial RAM 8GB DDR4 3200MHz CL22 (or 2933MHz ...,DDR4,8GB,3200,16.99,1359.2,4.8,8.0,Mid
1,DDR4 RAM 3200MHz 8GB CL18 (PC4-25600) 1.35V DD...,DDR4,8GB,3200,25.99,2079.2,4.6,8.0,Mid
2,KLEVV Hynix Chips 8GB (1 x 8GB) DDR4 UDIMM PC4...,DDR4,8GB,3200,15.99,1279.2,4.7,8.0,Mid
3,Patriot Memory Viper Steel DDR4 8GB (1 x 8GB) ...,DDR4,8GB,3200,18.99,1519.2,4.6,8.0,Mid
4,Patriot Memory Viper Steel DDR4 8GB(2 x 4GB) 3...,DDR4,8GB,3200,23.99,1919.2,4.5,8.0,Mid

In [34]:
Gpu_DF.head()

,GPU_Name,brand,model,memory,memory_interface,clock_speed,Price,VRAM,Clock_Speed,Category
0,MSI Gaming GeForce RTX 3090 24GB GDRR6X 384-Bi...,MSI,RTX 3090 GAMING X TRIO 24G,24 GB,GDRR6X,1785 MHz,103199.2,24.0,1785.0,High-Performance
1,"EVGA GeForce RTX 3090 FTW3 Ultra Gaming, 24GB ...",EVGA,RTX 3090 FTW3 Ultra,24 GB,GDDR6X,1800 MHz,95999.2,24.0,1800.0,High-Performance
2,ASUS ROG Strix NVIDIA GeForce RTX 3090 White O...,ASUS,ROG Strix RTX 3090 OC Edition,24 GB,GDDR6X,1890 MHz,143599.2,24.0,1890.0,High-Performance
3,MSI Gaming GeForce RTX 3090 24GB GDRR6X 384-Bi...,MSI,RTX 3090 SUPRIM X 24G,24 GB,GDDR6X,1875 MHz,161376.8,24.0,1875.0,High-Performance
4,GIGABYTE AORUS GeForce RTX 3090 Xtreme 24G Gra...,Gigabyte,AORUS RTX 3090 Xtreme 24G,24 GB,GDDR6X,1860 MHz,271999.2,24.0,1860.0,High-Performance

In [35]:
Gpu_DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 269 entries, 0 to 268
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GPU_Name          269 non-null    object
 1   brand             269 non-null    object
 2   model             269 non-null    object
 3   memory            269 non-null    object
 4   memory_interface  269 non-null    object
 5   clock_speed       269 non-null    object
 6   Price             269 non-null    float64
 7   VRAM              269 non-null    float64
 8   Clock_Speed       269 non-null    float64
 9   Category          269 non-null    object
dtypes: float64(3), object(7)
memory usage: 21.1+ KB

In [36]:
Disk_DF.head()

,driveName,Type,Capacity (in GBs),Benchmark Rank,Price,Release_Date,Category,Size_Category
0,Intel SSD DC S3500 600GB,SSD,559,2048,9064.0,2013,Mid Performance SSD,780 GB
1,SSD 720GB,SSD,671,4759,8799.2,2020,Basic SSD,780 GB
2,Samsung SSD 840 EVO 750GB,SSD,699,2045,43999.2,2013,Mid Performance SSD,780 GB
3,Crucial CT750MX300SSD1,SSD,699,2404,21996.0,2016,Mid Performance SSD,780 GB
4,Intel DC P3700 800GB NVMe,SSD,745,921,59200.0,2015,High Performance SSD,780 GB